@color1: #14FF8E;
@color2: #499399;
@color3: #24BECC;
@color4: #FF5461;
@color5: #CC2485;
@color6: #2F2933;
@color7: #FF6F69;

html, body {
}

md-dialog {
  opacity: 1 !important;
}

div[ui-view] > * {
  width: 100%;
}

.md-chips-wrap {
  box-shadow: none;
}

.info-badge {
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgb(224, 224, 224);
  color: rgb(66, 66, 66);
  cursor: default;
  border-radius: 16px;
  display: block;
  height: 32px;
  line-height: 32px;
  padding: 0 12px 0 12px;
  float: left;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
}

.info-badge.pending, .info-badge.available, .info-badge.scheduled, md-toolbar.available, md-toolbar.scheduled{
  background: #f6ef6a
}

.info-badge.complete, md-toolbar.complete {
  background: #4caf50
}

.info-badge.incomplete, .info-badge.cancelled, .info-badge.unfilled, .md-toolbar.cancelled, .md-toolbar.unfilled  {
  background: lightcoral
}

.text-warn {
  color: red
}

.text-success {
  color: green;
}

.email-icon {
  fill: #F6EF6A;
}

md-datepicker {
  margin-top:18px;
  > button.md-datepicker-button.md-icon-button.md-button {
    margin: 0px;
    padding:0px;
/*    width: 30px;
    height: 30px;
    line-height: 30px;
    min-height: 30px;*/
  }
  > div.md-datepicker-input-container {
    margin-left: 8px;
    padding-bottom: 4px;
  }
  &.md-datepicker-open > div.md-datepicker-input-container > input.md-datepicker-input { // Stop the jumping on open
    height: inherit;
    margin-left: 20px;
    // tabindex needs to be -1: https://github.com/angular/material/issues/4755
  }
}

.md-datepicker-input-mask{
  background: white;
  height:0px;
  width:0px;
}
