@color1 : #14FF8E;
@color2 : #499399;
@color3 : #24BECC;
@color4 : #FF5461;
@color5 : #CC2485;
@color6 : #2F2933;
@color7 : #FF6F69;

html, body {
}

md-dialog {
  opacity: 1 !important;
}

div[ui-view] > * {
  width: 100%;
}
