.visitInfo {
  margin-right:10%;
}
.visitInfo a p {
  word-wrap: break-word;
  white-space: normal;
}
.distance {
  float:right;
}

.timeOfDay {
  float: right;
  margin-left:15px;
  padding-top:5%;
  padding-left:2%;
  text-align:center;
  height:50px;
  font-weight: bold;
  font-size: larger;
  color: @color3;
}
