@color1 : #14FF8E;
@color2 : #499399;
@color3 : #24BECC;
@color4 : #FF5461;
@color5 : #CC2485;
@color6 : #2F2933;
@color7 : #FF6F69;


@import "../feedback/feedback.import.less";
@import "../visits/request-visit/google-places-autocomplete.import.less";
@import "../visits/request-visit/request-visit.import.less";
@import "../visits/browse-visit-requests/browse-visit-requests.import.less";
@import "../visits/schedule-visit/schedule-visit.import.less";
@import "../visits/visit-details/visit-details.import.less";
@import "../visits/pending-visits/pending-visits.import.less";

.warning {
  background-color: @color7;
  color:@color6;
  padding: 3px;
}

.emptyListInfo {
  background-color: @color2;
  color:black;
  padding: 3px;
}

.platform-android {
  .has-tabs {
    top:93px;
  }
}

.platform-android .action-sheet-backdrop.active {
  background-color: rgba(0, 0, 0, 0.1); }
.platform-android .action-sheet {
  align-content: center;
  margin:auto;
  max-width: 96vw;
  border-radius: 5px;
  /*margin: 0;*/
  margin-bottom: 10px;}
.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
  text-align: left;
  /*border-color: #e2e2e2;*/
  font-size: 16px;
  color: inherit;}
.platform-android .action-sheet .action-sheet-title {
  font-size: 14px;
  padding: 16px;
  color: #666; }
.platform-android .action-sheet .button {
  border-color: #e2e2e2;
  padding-left: 16px;
  color: #104e89;
}
.platform-android .action-sheet .button.destructive {
  color: red;
}
