@color1 : #14FF8E;
@color2 : #499399;
@color3 : #24BECC;
@color4 : #FF5461;
@color5 : #CC2485;
@color6 : #2F2933;
@color7 : #FF6F69;


@import "../feedback/feedback.import.less";
@import "../visits/request-visit/google-places-autocomplete.import.less";
@import "../visits/request-visit/request-visit.import.less";
@import "../visits/browse-visit-requests/browse-visit-requests.import.less";
@import "../visits/schedule-visit/schedule-visit.import.less";
